{% if paginacao.total_paginas > 1 %}
<div class="pagination-bar">
  {% if paginacao.pagina > 1 %}
    <a href="{{ url_for(request.endpoint, page=paginacao.pagina - 1, **pagination_args) }}">Anterior</a>
  {% else %}
    <span class="disabled">Anterior</span>
  {% endif %}
  <span>Pagina {{ paginacao.pagina }} de {{ paginacao.total_paginas }}</span>
  {% if paginacao.pagina < paginacao.total_paginas %}
    <a href="{{ url_for(request.endpoint, page=paginacao.pagina + 1, **pagination_args) }}">Proxima</a>
  {% else %}
    <span class="disabled">Proxima</span>
  {% endif %}
</div>
{% endif %}
